[Unit]
Description=CrewBot
After=network.target

[Service]
EnvironmentFile=/etc/environment
ExecStart=/home/ubuntu/crewbot/venv/bin/python main.py
ExecReload=/home/ubuntu/crewbot/venv/bin/python main.py
WorkingDirectory=/home/ubuntu/crewbot/
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
